.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    width: 100%;

    background-color: var(--clr2);
    color: var(--clr1);
}
.main-grid{
    display: flex;
    margin-top: 1vw;
    

}
.banner h1{
    font-size: 7vw;
}
.products-categories{
    cursor: pointer;
}
.products-categories h4{
    color: var(--clr1);
    margin-left: 1.5vw;
    font-weight: 600;
    
}
.left-grid{
    width: 25vw;
    margin-left: 2vw;
    
}
.left-categories{
    color: var(--clr1);
    border: var(--clr1) solid;
    border-radius: 5%;
    padding: 0 1vw;
}
.left-grid h1{
    font-size: 2rem;
    font-weight: bold;

}
.right-grid{
    display: flex;
}
.Products-1{
    width: 23%;
}
@media screen and (min-aspect-ratio: 16/9) {
    .banner{
        height: 55vh;
    }
    
}
@media (max-width:801px)  {
    .banner{
        height: 30vh;
    }
    .left-grid{
        width: 50vw;
        margin-left: 2vw;
        
    }
    .left-grid h1{
        font-size: 2rem;
    
    }
    .products-categories{
        font-size: 1.5rem;

        
    }
    .right-grid{
        width: 70vw;
    }
}
