.container-Brand{
    margin-top: 1vh;
    width: 150px;
    margin-left: 7vw;
}
.container-Brand a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.563rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--clr1);
}
.brandimage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
}
.container-Brand img{
    width: 8vw;
    height: 18vh;
    
    display: block;
    overflow: hidden;
}
.Brands{
    display: flex;
    justify-content: center;
}
.container-Brand a:hover{
    color: var(--clr2) ;
}
@media (max-width:600px)  {
    .container-Brand{
        width: 100px;
        margin-left: 0.1vw;
    }
    .container-Brand a {
        font-size: 0.563rem;
    }
    .brandimage{
        width: 8vh;
        height: 8vh;
    }
    .container-Brand img{
        width: 5vw;
        height: 8vh;
    }
}
@media (max-width:801px)  {
    .container-Brand{
        width: 20vw;
        margin-left: 4vw;
    }
    .container-Brand a {
        font-size: 0.663rem;
    }
    .brandimage{
        width: 8vh;
        height: 8vh;
    }
    .container-Brand img{
        width: 5vw;
        height: 6vh;
    }
}