.ForYou-container{
    align-items: center;
    margin-left: auto;
}

.Big-text{
    margin-left: 1vw;
    color: var(--clr1);
    font-size: 3vw;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.Products{
    height: 55vh;
    width: 25vw;
}
.loadbtndiv{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.Load-btn{
    
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 1.5vw;
    font-weight: bold;
    height: 5vw;
    width: 13vw;
    color: var(--clr4);
    background-color: var(--clr1);
    border: 1px solid var(--clr3);
    transition: ease-in-out;
    transition-duration: 0.1s;
    
    
}
.Load-btn:hover {
    background-color: var(--clr3);
    color: var(--clr1);
    border: 1px solid var(--clr1);

  }
  @media screen and (min-aspect-ratio: 16/9) {
    .Products{
        height: 65vh;
        
    }

  }
  @media (max-width:600px)  {
    .Products{
        height: 35vh;
    }
    .Load-btn{
        height: 5vh;
        width: 30vw;
        font-size: 3vw;
    }
  }
  @media (max-width:801px)  {
    .Products{
        height: 25vh;
        width: 50vw;
    }
    .Load-btn{
        height: 5vh;
        width: 30vw;
        font-size: 3vw;
    }
  }