/* .Item{
    height: 90vh;
} */

.card{
    display: flex;
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 20vw;
    height: 50vh;
    text-decoration: none;
    background-color: var(--clr1);
    border-radius: 1.3rem 0 1.3rem 0;
}

.card img{
    margin-top: 10px;
    width: 17vw;
    height: 17vh;
}
.card-body{
    width: 20vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:  0 18px;
}
.card-body h5{
    margin-top: 1vh;

    color: var(--clr4);
    font-size: 1.5rem;
    font-weight: 600;
    
}
.card-text {
    font-size: 25px;
    color: var(--clr2);
}
.card-body h4{
    
    font-size: 1.7vw;
    color: var(--clr4);
}
.count{
    color: var(--clr4) !important;
    font-size: 1vw;
}
.btnbottom{
    height: 5vw;
        width: 13vw;
}
.buybtn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 1vh;
        font-size: 1rem;
        font-weight: bold;
        height: 4vw;
        width: 15vw;
        color: var(--clr1);
        background-color: var(--clr4);
        border: 1px solid var(--clr3);
        transition: ease-in-out;
        transition-duration: 0.1s;
        
        
}
.buybtn:hover {
    background-color: var(--clr2);
    color: var(--clr4);
    border: 1px solid var(--clr3);}
.btn{
    margin-bottom: 2vh;
    border: 1px solid var(--clr1);
    color: var(--clr1);
    background-color: var(--clr4);
}
.btn:hover {
    background-color: var(--clr1);
    color: var(--clr4);
    border: 1px solid var(--clr4);
  }

@media screen and (min-aspect-ratio: 16/9) {
    .card{
        height: 65vh;
        
        
    }
    .card img{
        margin-top: 10px;
        width: 30vh;
        height: 12vw;
    }
    .card-body h5{
        
        font-size: 1.2rem;
        
    }
  }
@media (max-width:600px)  {
    .item{
        display: flex;
        justify-content: center;
        
    }
    .card{
        /* margin-left: 50px; */
        width: 30vw;
        height: 30vh;
        
        
    }
    .card img{
        width: 20vw;
        height: 20vw;
    }
    .card-body h5{
        
        font-size: 2.5vw;
        margin: 0.7vh 0 ;
        
    }
    .card-text {
        font-size: 1.9vw;
        margin-bottom: 0.7vh;
    }
    .card-body h4{
        
        font-size: 2vw;

    }
    .count{
        font-size: 1.2vw;
    }
    .btn{
        height: 3vh;
        font-size: 2vw;
    }
  }
  @media (max-width:801px)  {
    .item{
        display: flex;
        justify-content: center;
        
        
    }
    .card{
        /* margin-left: 50px; */
      
        width: 30vw;
        height: 25vh;

    }
    .card img{
        width: 20vw;
        height: 20vw;
    }
    .card-body{
        padding: 0;
    }
    .card-body h5{
        display: flex;
        justify-content: flex-start;
        padding: 0;
        font-size: 1.7vw;
        font-weight: 600;
        letter-spacing: 2px;
        
    }
    .card-text {
        font-size: 1.9vw;
    }
    .card-body h4{
        margin-bottom: 0.2vh;
        font-size: 1.7vw;
        letter-spacing: 1px;
    }
    .count{
        font-size: 1.2vw;
    }
    .buybtn{
        margin-top: 0;
        height: 3vh;
        width: 20vw;
        font-size: 0.6rem;
    }
    .btn{
        height: 1vh;
        font-size: 2vw;
    }
  }