/* .hamcontainer{
    display: flex;
    height: 100vh;
    justify-content: flex-end;
} */
.hammenu{
    /* margin-top: 50vh; */
    display: inline-flex;
    position: sticky;
    /* float: right; */
    height: 100%;
    z-index: 5;
    background-color:  var(--clr1);;
    width: 50vw;
    flex-direction: column;
    margin-right: 0;
    align-items: center;
    
    
}
.menuitem{
    list-style: none;
}
.cancelbtn{
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 5vw;
    
}
.cancelbtn:first-child{
    cursor: pointer;
}
.menuitem:first-child{
    margin-top: 5vh;
}
.menuitem a{
    display: flex;
    color: var(--clr4);
    font-size: 1.2rem;

}
.visible{
    display: flex;
    margin-top: 2vh;
   

}