.Navbar{
    height: 10vh; 
    width: 100%;  
    background-color: var(--clr3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* position: fixed; */

}
.lgo{
    width: 15vw;
    height: 6vh;
    text-decoration:none !important;
    
}
a:-webkit-any-link{
    text-decoration:none !important;
    }
.search{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    box-shadow: none;
    border-radius: 2px;
    width: 50vw;
    height: 5vh;
    
}
.search input{
    width: 56.5vw;
    height: 100%;
    background-color: #e9e9eb;
    border: 1px solid var(--clr1);
    -webkit-box-shadow: 0 0 6px #e9e9eb;
    -moz-box-shadow: 0 0 5px #e9e9eb;
    box-shadow: 0 0 1px #e9e9eb;
    vertical-align: top;
    color: var(--clr4);
    border-radius: 1.2rem 0 0 1.2rem; 

}

.search button{
    width: 3.5vw;
    height: 100%;   
    border: none;
    background-color: var(--clr1);
    box-sizing: border-box;
    border-radius: 0 1.2rem 1.2rem 0; 
}
.scope{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    display: flex;
    align-items: center;
    margin-left: 2vw;
    width: 2.265625vw;
    height: 2.265625vw;


}


.wrapper a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.5vw;
    height: 7vh;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--clr1);
    border: 2px solid var(--clr1);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    
    border-radius: 1rem 0 1rem 0;
  }
  
  .wrapper a span{
    position: relative;
    z-index: 2;
  }
  
  .wrapper  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--clr1);
    transition: all .35s;
    border-radius: 1rem 0 1rem 0;
  }
  
  .wrapper a:hover{
    color: var(--clr4);
  }
  
  .wrapper a:hover:after{
    width: 100%;
    border-radius: 1rem 0 1rem 0;
  }
  
  @media screen and (min-aspect-ratio: 16/9) {
    .Navbar{
        height: 12vh;   
        
    }
    .search input{
        height: 5.4vh;
    }
    .seacrh button{
        height: 5.4vh;
    }
    .search{
        height: 5.4vh;
    }
    .wrapper a{
        height: 8vh;
    font-size: 16px;
    }
    .logo img{
        
        height: 6vh;
    }
  }
  @media (max-width:600px)  {
    .Navbar{
        height: 8vh;
    }
    .logo img{
        height: 2vh;
    }
    .search{
        margin-left: 0.1vw;
        border-radius: 2px;
        width: 50vw;
        height: 3vh;
        
    }
    .search button{
        width: 4vw;
        height: 2.8vh;   
    
    }
    .cart{
        
        margin-left: 2vw;
        width: 4vw;
        height: 4vw;
    
    }
    .cart img{
        width: 4vw;
        height: 4vw;
    }
    .wrapper{
        display: none;
    }
    .wrapper a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11vw;
        height: 4vh;
        font-size: 6px;

        letter-spacing: 2px;
      }
}
.hamburgermenu{
    width: 50vw;
    display: inline-flex;
    position: fixed;
    top: min(100vh - 100px, 0.5vh);
    height: 100vh;
    overflow-x: hidden;
    z-index: 3;
    float: right;
    right: 0px;
    
}
.hamburger{
    cursor: pointer;
    margin-left: 1vw;
    display: none;

}

@media (max-width:801px)  {

    .Navbar{
        height: 7vh;
    }
    .lgo{
        width: 18vw;
        height: 3vh;
        margin: 0;
    }
    .search{
        margin-left: 0.1vw;
        border-radius: 2px;
        width: 40vw;
        height: 3vh;
        
    }
    .search input{
        width: 40vw;
    }
    .search button{
        width: 5vw;
        height: 3vh;   
    
    }
    .cart{
        
        margin-left: 2vw;
        width: 6vw;
        height: 2vw;
    
    }
    .hamburger{
        display: block;
    }
    .wrapper a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21vw;
        height: 6vh;
        font-size: 10px;
        letter-spacing: 2px;
        color: var(--clr4);
        border: 2px solid var(--clr4);
      }
}