.Order{
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-top: 10vh;
    flex-direction: column;

}
.heading{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.search-orders{
    display: flex;
    flex-direction: row;
}
.search-orders input{
    border-radius: 20px;
    box-shadow: none;
    background-color: var(--clr4);
    border: 1px solid var(--clr3);
    -webkit-box-shadow: 0 0 6px #e9e9eb;
    -moz-box-shadow: 0 0 5px #e9e9eb;
    box-shadow: 0 0 1px #e9e9eb;
}
.search-orders a{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: var(--clr4);
    color: var(--clr1);
    width: 10vw;
    height: 4vh;
    text-decoration: none;
    margin-left: 1vw;
}
.tablist ul li {
    margin: 0px 2vw;
    font-size: 1rem;
}
.orders{
    background-color: #EDF5E1;
    width: 70vw;
    height: 30vw;
}