.Topbar{
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--clr4) ;
    width: 100%;
    height: 4vh;
    align-items: center;
    
}
dl, ol, ul {
    margin-top: 15px;
    display: flex;
    align-items: center;
    }


.topbaritem{
    list-style: none;
    display: inline-block;
    line-height: 20px;
    margin-left: 20px;

    font-weight: bold;
    
    
    

}
.topbaritem a{
    text-decoration: none;
    color: var(--clr1);
    transition: color .2s;
}
.topbaritem a:hover{
    color: var(--clr2);
}
@media (max-width:600px)  {
    .Topbar{
        width: 100%;
        height: 10vh;
        display: none;
    }
    dl, ol, ul {
        display: inline-block;

        }
    .topbaritem a{
        
        padding: 2px;
        border: var(--clr1) solid 1px;
    }
    .topbaritem:first-child {
        margin-left: 0;
     }
    .topbaritem{
        line-height: 20px;
        
    }
    .row-3{

        display: flex;
        justify-content: center;
        /* margin-top: 2vh; */
    }
    
}
@media screen and (min-aspect-ratio: 16/9) {
    .Topbar{
        height: 4vh;
    }

}
@media (max-width:801px)  {
    .Topbar{
        width: 100%;
        height: 7vh;
    }

    .topbaritem a{
        
        padding: 5px;
        border: var(--clr1) solid 1px;
    }
    .topbaritem:first-child {
        margin-left: 0;
     }
    .topbaritem{
        line-height: 20px;
        
    }
    .row-3{

        display: flex;
        justify-content: center;
        margin-top: 2vh;
    }
}