:root{
    --clr1:#eeeeee;
    --clr2:#fa8460;
    --clr3:#222831;
    --clr4:#393e46;
}

/* .first-color { 
	background: #222831; 
}
1
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #ff5722; 
}

.fourth-color { 
	background: #eeeeee; 
} */